@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
dl,
dt,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  padding: 0;
  margin: 0;
}
body {
  font-size: 13px;
  line-height: 1.75;
  font-family: 'nanum gothic', 'sans serif';
  color: #7D7D7D;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #000;
}
i,
em,
cite {
  font-style: normal;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.bgGrey {
  border: 1px solid #e8e8e8;
  margin-bottom: 25px;
  position: relative;
}
span.more {
  font-size: 13px;
  color: #636363;
  font-weight: 800;
  display: inline-block;
  width: 40px;
  height: 21px;
  line-height: 1;
  text-transform: uppercase;
}
#wrap {
  width: 100%;
  outline: 1px solid #F00;
  background-image: url(../images/bg_top.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
#wrap header .menu {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  outline: 1px solid #00F;
}
#wrap header .menu h1 {
  font-size: 0;
}
#wrap header .menu h1 img {
  position: relative;
  left: 0;
  top: 40px;
}
#wrap header .menu .top_menu {
  position: relative;
  right: 0;
  top: 54px;
}
#wrap header .menu .top_menu a {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
#wrap header .menu .top_menu .home {
  display: inline-block;
  width: 52px;
  height: 24px;
  border: 3px solid #dc372b;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #dc372b;
}
#wrap header .menu .top_menu .sitemap {
  display: inline-block;
  width: 72px;
  height: 24px;
  border: 3px solid #363333;
  text-align: center;
  line-height: 26px;
  color: #363333;
  font-weight: bold;
}
#wrap header .menu .top_menu .eng {
  display: inline-block;
  width: 42px;
  height: 24px;
  border: 3px solid #363333;
  text-align: center;
  line-height: 26px;
  color: #363333;
  font-weight: bold;
}
#wrap header .menu .gnb {
  overflow: hidden;
  position: relative;
  top: 60px;
  left: 10px;
}
#wrap header .menu .gnb ul li {
  float: left;
  margin-left: 29px;
}
#wrap header .menu .gnb ul li a {
  font-size: 15px;
  color: #464646;
}
html,
body {
  width: 100%;
  height: 100%;
}
#wrap section {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid #000;
}
#wrap section .contents {
  width: 1000px;
  height: 530px;
  outline: 1px solid #00F;
  margin: 40px auto 0;
}
#wrap section .contents .left_con {
  width: 350px;
  height: 530px;
  outline: 1px solid #000;
}
#wrap section .contents .left_con .con_work {
  width: 348px;
  height: 248px;
  background-image: url(../images/bg_con1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
#wrap section .contents .left_con .con_work a {
  display: block;
  padding: 22px 30px;
}
#wrap section .contents .left_con .con_work a h2 {
  font-size: 18px;
  color: #464646;
}
#wrap section .contents .left_con .con_work a h2 em {
  color: #00a2e9;
  font-weight: bold;
}
#wrap section .contents .left_con .con_work a p {
  font-size: 14px;
  color: #7D7D7D;
  margin-top: 8px;
}
#wrap section .contents .left_con .con_work a span.more_blue {
  border-bottom: 2px solid #00a2e9;
  margin-top: 20px;
}
#wrap section .contents .left_con .con_pic {
  width: 348px;
  height: 228px;
  outline: 1px solid #000;
}
#wrap section .contents .left_con .con_pic .pic_title h2 {
  font-size: 18px;
  color: #464646;
  padding: 22px 0 0 30px;
}
#wrap section .contents .left_con .con_pic .pic_title .pic_more {
  font-size: 11px;
  color: #707070;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 33px;
  text-transform: uppercase;
}
#wrap section .contents .left_con .con_pic .pic_list {
  width: 292px;
  height: 139px;
  margin: 10px auto 0;
  outline: 1px solid #F00;
}
#wrap section .contents .left_con .con_pic .pic_list ul .list_fir {
  float: left;
}
#wrap section .contents .left_con .con_pic .pic_list ul li .oli_a {
  display: inline-block;
  width: 138px;
  height: 110px;
  border: 1px solid #e8e8e8;
}
#wrap section .contents .left_con .con_pic .pic_list ul li .oli_a img {
  width: 100%;
  height: 100%;
}
#wrap section .contents .left_con .con_pic .pic_list ul li .oli_b {
  display: inline-block;
  width: 140px;
  height: 93px;
  border: 1px solid #e8e8e8;
}
#wrap section .contents .left_con .con_pic .pic_list ul li .oli_b img {
  width: 100%;
  height: 100%;
}
#wrap section .contents .right_con {
  width: 625px;
  height: 530px;
  outline: 1px solid #F00;
}
